
body {
            background-color: aliceblue;
        }
        /* Optional: Additional styling to make it look cleaner */


        
header {
            position: relative;
            background-image: url(./images/background-image-home.jpg);
            padding: 1rem;
            
        }
.nav-link {
            color: #ffffff;
        }

        .raise-voice-text {
            color: white;
            font-size: 3.5em;
            font-style: italic;
            padding: 1rem;
        }

        .raise-voice-description {
            color: white;
            font-size:150%;font-family:Helvetica,sans-serif;
        }

        .iiconic-records-section{
            background-color: #0C0950;
        }


